/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Vars */

:root {
  --wrong: #cb3b3b;
  --correct: #17b978;
}

/* Default Styles */

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  width: 100%;
  height: 100vh;
  color: #222;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  background-color: #f8f8f9;
  overflow: hidden;
}

button,
input[type="submit"] {
  background-color: #cfe9ff;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  margin: 10px;
  width: 25%;
  transition: 200ms ease-out;
  outline: none;
}

button:hover,
input[type="submit"]:hover {
  background-color: #a9d7ff;
}

hr {
  border: 2px solid #22d1ee;
  border-radius: 10px;
  background: #22d1ee;
}

.disable {
  pointer-events: none;
  cursor: not-allowed;
}

/* Header */

header {
  height: 25vh;
  background-color: #477bff;
  color: #fff;
  margin-bottom: 2rem;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .title {
  font-size: 4rem;
}

.type {
  font-size: 0.7rem;
}

/* Content */

.container {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

section {
  padding: 0.5rem 2rem 1rem 2rem;
}

.multiChoice,
.freeAnswer {
  position: relative;
  margin: 10px;
}

#diff {
  position: absolute;
  font-size: 1rem;
  top: 20px;
  right: 50px;
  text-transform: capitalize;
}

.question {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin: 10px;
  padding: 10px;
}

.choices {
  display: flex;
  justify-content: center;
}

.correct {
  background-color: var(--correct);
}

.wrong {
  background-color: var(--wrong);
}

.freeAnswer {
  width: 99%;
}

.form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.form_btn {
  background-color: #cfe9ff;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  outline: none;
  width: 15%;
}

#inputAnswer {
  width: 30%;
  padding: 22px 13px;
  font-size: 1.5rem;
  margin: 10px;
  outline: none;
  border: 1px solid #cfe9ff;
  border-radius: 10px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  text-transform: capitalize;
}

#desire {
  font-size: 28rem;
  animation: fade 1s infinite ease-in-out;
  z-index: 999;
  transition: 200ms ease-out;
}

#creator {
  z-index: 999;
  color: black;
  transition: 200ms ease-out;
}

.stage {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(
    0deg,
    #f9583c,
    #dd355b,
    #143d52,
    #1a1b51,
    #1a1b51,
    #143d52,
    #dd355b,
    #f9583c
  );
  background-size: 100% 1100%;
  height: 100vh;
  width: 100vw;
}

/* Animation */

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animateBg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
